<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.training.cinematic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_cinematic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_logo_cinematic"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.signup.SignupActivity"
            android:label="Sign up"
            android:parentActivityName=".activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme2"></activity>
        <activity
            android:name=".activity.MovieDetailActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme2"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activity.DetailScreenActivity" android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity">
           <!-- <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />-->
        </activity>
    </application>

</manifest>